.about_container {
    background: url("../../resources/images/bg/bg_home_03.jpg");
    height: 100vh;
    width: 100%;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.about_container_image {
    border-radius: 10px;
}

.about_contaniner--description {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: 500;
}
