.about_container {
    height: 100vh;
}

.about_contaniner--description {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: 500;
    white-space: pre-line;
    line-height: 1.4em;
    padding-top: 10px;
}

.about_container_all{
    padding: 20px 15px;
    background: #fff;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    transform: translateY(-10px);
}

.about_container--desktop_title{
    padding: 20px 0 0 20px;
}
