.home_container{
    background: url("../../resources/images/bg_home_01.jpg");
    height: 100vh;
    width: auto;
    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}