/* .ant-modal-confirm-title::after {
  content: "\1F62D";
}

.ant-modal-confirm-content::after {
  content: "\1F601";
} */

/* .ant-btn-default{
    background: transparent;
    border: 1px solid brown;
} */

/** BUTTON **/
.go-back-button {
  color: #fff;
}

.ant-btn-primary,
.ant-btn-primary:active {
  background: #fff !important;
  box-shadow: none !important;
  color: #000 !important;
  border: 2px solid #ddd !important;
}
